<div tuiCarouselButtons class="wrapper">
  <tui-carousel #carousel class="carousel" [duration]="4000" [(index)]="index">
    <ng-container *ngFor="let item of items; let i = index">
      <img
        *tuiItem
        alt=""
        draggable="false"
        src="/images/{{ item }}"
        class="item"
        [class.item_active]="i === index + 1"
      />
    </ng-container>
  </tui-carousel>

  <div class="buttons">
    <button
      iconStart="@tui.chevron-left"
      tuiIconButton
      type="button"
      (click)="carousel.prev()"
    >
      Previous
    </button>
    <tui-pagination
      size="s"
      class="pagination"
      [length]="items.length"
      [(index)]="index"
    />
    <button
      iconStart="@tui.chevron-right"
      tuiIconButton
      type="button"
      (click)="carousel.next()"
    >
      Next
    </button>
  </div>
</div>
